[submodule "FrameX/vendor/spdlog"]
	path = FrameX/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "FrameX/vendor/GLFW"]
	path = FrameX/vendor/GLFW
	url = https://github.com/TheCherno/glfw
